# 作業 : (Kaggle)鐵達尼生存預測

# [作業目標]
- 試著完成三種不同特徵類型的三種資料操作, 觀察結果
- 思考一下, 這三種特徵類型, 哪一種應該最複雜/最難處理

# [作業重點]
- 完成剩餘的八種 類型 x 操作組合 (In[6]~In[13], Out[6]~Out[13])
- 思考何種特徵類型, 應該最複雜

In [77]:
#目的：將Train Data和Test Data合併，觀察資料型態
# 載入基本套件
import pandas as pd
import numpy as np

# 讀取訓練與測試資料
data_path = '/Users/maylin/Documents/Data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')
#df_train.shape #(891,12) #891行*12列
df_test.shape #(418,11) #418行*11列

(418, 11)

In [78]:
# 重組資料成為訓練 / 預測用格式
train_Y = df_train['Survived'] #指定Train Data的Label
ids = df_test['PassengerId'] #指定Test Data的Index
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1) #排除Train Data的PassengerId和Survived
df_test = df_test.drop(['PassengerId'] , axis=1) #排除Test Data的PassengerId
df = pd.concat([df_train,df_test])  #將Train Data和Test Data做union合併動作，使用pd.concat
#df.head() #取合併資料的前五筆
df.tail() #取合併資料的後五筆，總共有417筆

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
413,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [79]:
# 秀出資料欄位的類型與數量
dtype_df = df.dtypes.reset_index() #取得每個欄位的資料型態
#dtype_df
dtype_df.columns = ["Count", "Column Type"] #設定dataframe的欄位
dtype_df = dtype_df.groupby("Column Type").aggregate('count').reset_index()#合併相同形態的欄位，並計算欄位數
dtype_df

  Column Type  Count
0       int64      3
1     float64      2
2      object      5

In [80]:
df.dtypes #顯示每個欄位的資料型態

Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [81]:
df.columns #顯示每個欄位

Index(['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked'],
      dtype='object')

In [82]:
zip_df=zip(df.dtypes, df.columns)
zip_df

In [83]:
#確定只有 int64, float64, object 三種類型後, 分別將欄位名稱存於三個 list 中
int_features = []
float_features = []
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64':
        float_features.append(feature)
    elif dtype == 'int64':
        int_features.append(feature)
    else:
        object_features.append(feature)
print(f'{len(int_features)} Integer Features : {int_features}\n')
print(f'{len(float_features)} Float Features : {float_features}\n')
print(f'{len(object_features)} Object Features : {object_features}')

3 Integer Features : ['Pclass', 'SibSp', 'Parch']

2 Float Features : ['Age', 'Fare']

5 Object Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

# 作業1 
* 試著執行作業程式，觀察三種類型 (int / float / object) 的欄位分別進行( 平均 mean / 最大值 Max / 相異值 nunique )  
中的九次操作會有那些問題? 並試著解釋那些發生Error的程式區塊的原因?  

# 作業2
* 思考一下，試著舉出今天五種類型以外的一種或多種資料類型，你舉出的新類型是否可以歸在三大類中的某些大類?  
所以三大類特徵中，哪一大類處理起來應該最複雜?

In [84]:
# 例 : 整數 (int) 特徵取平均 (mean)
df[int_features].mean()

Pclass    2.294882
SibSp     0.498854
Parch     0.385027
dtype: float64

In [85]:
df[int_features].max()

Pclass    3
SibSp     8
Parch     9
dtype: int64

In [86]:
df[int_features].nunique()

Pclass    3
SibSp     7
Parch     8
dtype: int64

In [87]:
df[float_features].mean()

Age     29.881138
Fare    33.295479
dtype: float64

In [88]:
df[float_features].max()

Age      80.0000
Fare    512.3292
dtype: float64

In [89]:
df[float_features].nunique()

Age      98
Fare    281
dtype: int64

In [90]:
df[object_features].mean() #字串取不出平均數

Series([], dtype: float64)

In [91]:
df[object_features].max()

Name      van Melkebeke, Mr. Philemon
Sex                              male
Ticket                      WE/P 5735
dtype: object

In [92]:
df[object_features].nunique()

Name        1307
Sex            2
Ticket       929
Cabin        186
Embarked       3
dtype: int64

In [ ]:
# 請依序列出 三種特徵類型 (int / float / object) x 三種方法 (平均 mean / 最大值 Max / 相異值 nunique) 的其餘操作
"""
Your Code Here
"""
#字串處理起來最複雜